@using Unity;
@using GuiLayer.Controllers;
@using LoginBLService;
@{ 
    var loginService = UnityConfig.Container.Resolve<ILoginService>();
    var name = @loginService.GetUserName(AccountController.Email);
}

        @if (loginService.IsAdmin(AccountController.Email))
        {
            <form asp-area="" asp-controller="Item" asp-action="AddNewItem" method="post" id="itemAddForm" class="navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Pridėti naują prekę", "AddNewItem", "Item")</li>

                </ul>
            </form>
        }
        @if (AccountController.LoggedIn && name != string.Empty)
        {
            <form asp-area="" asp-controller="Account" asp-action="Logoff" method="post" id="logoutForm" class="navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink($"Sveiki {@name}!", "ItemList", "Item")</li>
                    <li>@Html.ActionLink("Atsijungti", "Logoff", "Account")</li>

                </ul>
            </form>
        }
        else
        {
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Prisijungti", "Login", "Account")</li>
            </ul>
        }
