@model GuiLayer.Models.ProductItemsModel
@using System.Collections;
@{
    ViewBag.Title = "Prekės";
}

<h2>Prekių sąrašas</h2>

@foreach (var product in Model.Products)
{
    <table class="item">
        <tr>
            <td>@product.Name</td>
        </tr>
        <tr>
            <td>
                <img src="@product.ImageUrl" alt="@product.Name" width="120" height="80">
            </td>
        </tr>
        <tr>
            <td>@product.Price @LibraryLayer.Enums.Currency.EUR</td>
        </tr>
        <tr>
            <td>
                @using (Html.BeginForm("AddToBasket", "Basket", new { itemId = product.Id}, FormMethod.Post, null))
                {
                    <button type="submit" value="@product.Id" class="toBasket btn btn-default">Į krepšelį</button>
                }
                    
            </td>
        </tr>
    </table>
}
